.plyr__control:hover {
    background-color: #FFCC00;
    background-image: linear-gradient(to right, rgb(255, 204, 0), rgb(230, 70, 86)) !important;
}
.plyr__control--overlaid {
    background-color: #FFCC00;
    background-image: linear-gradient(to right, rgb(255, 204, 0), rgb(230, 70, 86)) !important;
    padding: 20px !important;
}
.plyr__control--overlaid svg {
    width: 30px !important;
    height: 30px !important;
}
.plyr--full-ui input[type=range] {
    color: 	#FFCC00 !important;
}

.plyr--audio .plyr__controls {
    background-color: #ebf4f1;
}

.video-box .video-wrapper,
.video-box .video-buffering, 
.video-box .video-overlay{
    height: inherit !important;
}

.tns-outer button:first-child, .tns-outer .tns-liveregion{
    display: none !important;
}