@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

@font-face {
    font-family: "GT-America";
    src: local('GT-America'), url("../fonts/GT-America-Regular.otf") format("opentype") ;
}
@font-face {
    font-family: "GT-America";
    src: local('GT-America'), url("../fonts/GT-America-Bold.otf") format("opentype") ;
    font-weight: bold;
}
@font-face {
    font-family: "GT-America";
    src: local('GT-America'), url("../fonts/GT-America-Bold-Italic.otf") format("opentype") ;
    font-weight: bold;
    font-style: italic;
}

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

@layer base {
    body {
        @apply bg-darkgray 
    }

    p{
        @apply p-0
    }

    .btn {
        @apply h-10 px-btn-side bg-gradient-to-r from-light-orange to-dark-orange text-black rounded-md font-mont font-semibold text-sm leading-btn focus:outline-none;
    }
    .outline-btn {
        @apply h-10 px-btn-side border-gradient-r-yellow-orange-black gradient-border-2 text-transparent rounded-md font-mont font-semibold text-sm leading-btn focus:outline-none;
    }
    .outline-btn-text{
        @apply bg-clip-text text-transparent bg-gradient-to-r from-light-orange to-dark-orange text-sm
    }

    .video-box {
        height: calc(100vh - theme('height.25'));
    }
    .tweet-container {
        width: calc(100% - theme('spacing.29') - theme('spacing.29'));
    }
    .girl-position{
        top: calc(100vh - theme('height.25') - 7.188rem);
    }
} 